.container {
  max-width: 512px;
  height: 100dvh;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}

footer {
  padding: 2rem;
}

.warning {
  padding: 0.6rem 2rem;
  background-color: rgb(255, 227, 175);
}

nav {
  display: flex;
  gap: 0.5rem;
}

.tools {
  display: flex;
  gap: 0.5rem;
}

.modes {
  display: flex;
  gap: 0.3rem;
}

[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}
.color-input {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3px;
  overflow: hidden;
}

.link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9rem;
}

label {display: inherit;}

.link:hover {color: black; text-decoration: underline;}

/* 
input[type="color"] {
  appearance: none;
  padding: 0;
  border: none;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border: none;
} */
